<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

   @RenderBody()
    <!-- ... (geri kalan HTML kodu) ... -->
    <!-------------------------- STYLE  -------------------------->
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            padding-bottom: 50px; /* Footer yüksekliği kadar alan bırak */
            box-sizing: border-box;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            background-color: #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .footer a {
                color: gray; /* Set link color to gray */
                text-decoration: none; /* Remove underline from links */
            }

            .footer p {
                color: gray; /* Set paragraph color to gray */
            }
    </style>
    <!------------------------- STYLE END ------------------------->
    <!-------------------------- FOOTER -------------------------->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <a class="col-4 text-center" href="http://" target="_blank" rel="noopener noreferrer">Telif Hakkı ©</a>
                <a class="col-4 text-center" href="http://" target="_blank" rel="noopener noreferrer">İntern Team</a>
                <p class="col-4 text-center ">V.1.005</p>
            </div>
        </div>
    </footer>
    <!------------------------ FOOTER END ------------------------>

</body>
</html>